PkgPrefix.ActionNotEnabledException=com.Metaswitch.MVS.Corba
PkgPrefix.AlreadyAttachedException=com.Metaswitch.MVS.Corba
PkgPrefix.BadIndicesException=com.Metaswitch.MVS.Corba
PkgPrefix.ClientSessionInterface=com.Metaswitch.MVS.Corba
PkgPrefix.ClientSessionManagerInterface=com.Metaswitch.MVS.Corba
PkgPrefix.CreationFailedException=com.Metaswitch.MVS.Corba
PkgPrefix.DualString=com.Metaswitch.MVS.Corba
PkgPrefix.Element=com.Metaswitch.MVS.Corba
PkgPrefix.ElementAlreadyLockedException=com.Metaswitch.MVS.Corba
PkgPrefix.ElementBrokenException=com.Metaswitch.MVS.Corba
PkgPrefix.ElementChangedException=com.Metaswitch.MVS.Corba
PkgPrefix.ElementDeletedException=com.Metaswitch.MVS.Corba
PkgPrefix.ElementNotLockedException=com.Metaswitch.MVS.Corba
PkgPrefix.ElementOperationFailedException=com.Metaswitch.MVS.Corba
PkgPrefix.ElementOrderHintValue=com.Metaswitch.MVS.Corba
PkgPrefix.ElementUnavailableException=com.Metaswitch.MVS.Corba
PkgPrefix.EMSNotReadyException=com.Metaswitch.MVS.Corba
PkgPrefix.FieldBadTypeException=com.Metaswitch.MVS.Corba
PkgPrefix.FieldBadValueException=com.Metaswitch.MVS.Corba
PkgPrefix.FieldNameOrIndexNotFoundException=com.Metaswitch.MVS.Corba
PkgPrefix.FieldNoRegisteredAPException=com.Metaswitch.MVS.Corba
PkgPrefix.FieldNoRegisteredPVPException=com.Metaswitch.MVS.Corba
PkgPrefix.InvalidElementTypeException=com.Metaswitch.MVS.Corba
PkgPrefix.InvalidFilterException=com.Metaswitch.MVS.Corba
PkgPrefix.InvalidNameException=com.Metaswitch.MVS.Corba
PkgPrefix.LockTimeoutException=com.Metaswitch.MVS.Corba
PkgPrefix.LoginFailedException=com.Metaswitch.MVS.Corba
PkgPrefix.LogInformation=com.Metaswitch.MVS.Corba
PkgPrefix.LogNotFoundException=com.Metaswitch.MVS.Corba
PkgPrefix.NameUnknownException=com.Metaswitch.MVS.Corba
PkgPrefix.NLSLocale=com.Metaswitch.MVS.Corba
PkgPrefix.NLSSupportInterface=com.Metaswitch.MVS.Corba
PkgPrefix.NoSnapshotChangeListenersException=com.Metaswitch.MVS.Corba
PkgPrefix.NotAttachedException=com.Metaswitch.MVS.Corba
PkgPrefix.omlapi=com.Metaswitch.MVS.Corba
PkgPrefix.PropertiesList=com.Metaswitch.MVS.Corba
PkgPrefix.ReadWriteSettingsException=com.Metaswitch.MVS.Corba
PkgPrefix.Reference=com.Metaswitch.MVS.Corba
PkgPrefix.SEAccessFactoryInterface=com.Metaswitch.MVS.Corba
PkgPrefix.SEAccessInterface=com.Metaswitch.MVS.Corba
PkgPrefix.SEAction=com.Metaswitch.MVS.Corba
PkgPrefix.SEChildProperties=com.Metaswitch.MVS.Corba
PkgPrefix.SEExceptionsInterface=com.Metaswitch.MVS.Corba
PkgPrefix.SEProperties=com.Metaswitch.MVS.Corba
PkgPrefix.SequenceOfDualStrings=com.Metaswitch.MVS.Corba
PkgPrefix.SequenceOfElements=com.Metaswitch.MVS.Corba
PkgPrefix.SequenceOfIdentifiers=com.Metaswitch.MVS.Corba
PkgPrefix.SequenceOfIntegers=com.Metaswitch.MVS.Corba
PkgPrefix.SequenceOfIndices=com.Metaswitch.MVS.Corba
PkgPrefix.SequenceOfNames=com.Metaswitch.MVS.Corba
PkgPrefix.SequenceOfOctets=com.Metaswitch.MVS.Corba
PkgPrefix.SequenceOfReferences=com.Metaswitch.MVS.Corba
PkgPrefix.SequenceOfSEActions=com.Metaswitch.MVS.Corba
PkgPrefix.SequenceOfSEChildProperties=com.Metaswitch.MVS.Corba
PkgPrefix.SequenceOfSequenceOfIntegers=com.Metaswitch.MVS.Corba
PkgPrefix.SettingsFieldException=com.Metaswitch.MVS.Corba
PkgPrefix.SettingsUserInterface=com.Metaswitch.MVS.Corba
PkgPrefix.SnapshotChangeListenerInterface=com.Metaswitch.MVS.Corba
PkgPrefix.SUPPORT_RANGE_OF_VERSIONS=com.Metaswitch.MVS.Corba
PkgPrefix.SUPPORT_SINGLE_VERSION=com.Metaswitch.MVS.Corba
PkgPrefix.SUPPORT_FWD_COMPATIBLE_SINGLE_VERSION=com.Metaswitch.MVS.Corba
PkgPrefix.SUPPORT_FWD_COMPATIBLE_RANGE_OF_VERSIONS=com.Metaswitch.MVS.Corba
PkgPrefix.SUPPORT_EXACT_SINGLE_VERSION=com.Metaswitch.MVS.Corba
PkgPrefix.SUPPORT_EXACT_RANGE_OF_VERSIONS=com.Metaswitch.MVS.Corba
PkgPrefix.TooManySnapshotChangeListenersException=com.Metaswitch.MVS.Corba
PkgPrefix.UnknownActionException=com.Metaswitch.MVS.Corba
PkgPrefix.UnrecognizedNLSIIDException=com.Metaswitch.MVS.Corba
PkgPrefix.UnsupportedLocaleException=com.Metaswitch.MVS.Corba
PkgPrefix.VersionFormatException=com.Metaswitch.MVS.Corba
PkgPrefix.VersionNotSupportedException=com.Metaswitch.MVS.Corba
